<h1 mat-dialog-title> {{ title }} </h1>
<div mat-dialog-content>
  <form #customerForm="ngForm" (ngSubmit)="handleFormSubmission(customerForm)">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label> {{ formLabels[1] }} </mat-label>
      <input matInput [(ngModel)]="customer.firstName" name="firstName" required #firstName="ngModel" />
      <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        {{ formLabels[1] }} is required
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label> {{ formLabels[2] }} </mat-label>
      <input matInput [(ngModel)]="customer.lastName" name="lastName" required #lastName="ngModel" />
      <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        {{ formLabels[2] }} is required
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label> {{ formLabels[3] }} </mat-label>
      <input matInput type="email" [(ngModel)]="customer.email" name="email" #email="ngModel" required email/>
      <mat-error *ngIf="email.hasError('required')"> Email is required </mat-error>
      <mat-error *ngIf="email.hasError('email')"> Invalid Email format </mat-error>
    </mat-form-field>
    
    <div mat-dialog-actions align="end">
      <button mat-raised-button color="basic" type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid">
        {{ submitButtonLabel }}
      </button>
    </div>
  </form>
</div>
